name: myself learning tests

on:
  pull_request:

jobs:
  myself-test:
    runs-on: ubuntu-latest
    container: golang:1.24

#    services:
#      postgres:
#        image: postgres
#        env:
#          POSTGRES_PASSWORD: postgres
#          POSTGRES_DB: praktikum
#        options: >-
#          --health-cmd pg_isready
#          --health-interval 5s
#          --health-timeout 5s
#          --health-retries 5

    steps:
      - name: "Checkout code"
        uses: actions/checkout@v2
      - name: Setup crypto
        env:
          CERT_B64: ${{ secrets.CERT_B64 }}
          PRIVATE_KEY_B64: ${{ secrets.PRIVATE_KEY_B64 }}
        run: |
          mkdir -p var/keys
          echo "$CERT_B64" | base64 -d > var/keys/cert.pem
          echo "$PRIVATE_KEY_B64" | base64 -d > var/keys/private.key

      - name: "Setup go deps"
        run: |
          go install golang.org/x/tools/cmd/goimports@latest

      - name: "Myself tests"
        run: |
          go mod download
          go test -v -tags testmode ./...
